<div>
  <ol class="tweets">
  <% @tweets.each do |tweet| %>
    <li>
	  <span class="favorite">
	    <% if tweet["favorited"] == false %>
	      <a href='/twitter_like?id=<%= "#{tweet["id_str"]}" %>'>
		    &#9825
		<% elsif tweet["favorited"] == true %>
	      <a href='/twitter_unlike?id=<%= "#{tweet["id_str"]}" %>'>
		    &#9829
		<% end %>
		  </a>
	  </span>
	  <span class="user">
	  <%= "#{tweet["user"]["name"]}" %>
	  </span>
	  <span class="text">
	  <%= "#{tweet["text"]}" %>
	  </span>
	  <% unless tweet["entities"]["media"] == nil %>
	  <span class="photo">
	      <img src="<%= "#{tweet["entities"]["media"][0]["media_url"]}" %>" />
	  </span>
	  <% end %>
    </li>
  <% end %>
  </ol>
</div>
