<!DOCTYPE html>
<html>
  <head>
    <title>ApiApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
	<div>
	  <ol>
	  <%= @tweets.each do |tweet| %>
	    <li>
		<p><%= tweet["user"]["name"] - tweet["text"] : tweet["favorited"].to_s %></p>
	    </li>
	  <%= end %>
	  </ol>
	</div>
  </body>
</html>
